/*Your styles*/

body {
    margin: 20px;
}

#content {
    margin-right: auto;
    margin-left: auto;
    vertical-align: middle;
    width: 100%;
}

/*
Those classes will be edited at runtime with values specified
by the settings of the CC application
*/
.hostFontColor {
}

.hostFontFamily {
}

.hostFontSize {
}

/*font family, color and size*/
.hostFont {
}

/*background color*/
.hostBgd {
}

/*lighter background color*/
.hostBgdLight {
}

/*darker background color*/
.hostBgdDark {
}

/*background color and font*/
.hostElt {
}

.hostButton {
    border: 1px solid;
    border-radius: 2px;
    height: 20px;
    vertical-align: bottom;
    font-family: inherit;
    color: inherit;
    font-size: inherit;
}

input[type=checkbox], input[type=radio] {
    opacity: 1;
    position: relative;
    margin: auto;
    display: inline-block;
}

input[type=number] {
    border: 1px solid rgba(0, 0, 0, .4);
}

input[type=text] {
    border: 1px solid rgba(0, 0, 0, .4);
}

.hiddenElem {
    display: none;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.exp-title {
    background: rgba(0, 0, 0, .2);
    width: 100%;
    height: 25px;
}

.exp-title label {
    display: /*inline-*/block;
    margin: 3px 0 0 5px;
    cursor: pointer;
}

.exp-title label:first-of-type {
    font-weight: bold;
}

.exp-title:hover {
    cursor: pointer;
}

.btn-export {
    display: block;
    margin: 1px auto;
    width: 99%;
}

.line {
    margin: 5px;
    align-items: center;
    border: 1px dotted rgba(0, 0, 0, .4);
}

.center {
    margin-top: 3px;
}

#export_sets {
    border: 1px solid rgba(0, 0, 0, .4);
}

#path input[type=text] {
    width: 250px;
    height: 16px;
}