/*Your styles*/

body {
 margin         : 10px;
 overflow       : hidden !important;
 padding-bottom : 20px;
 }

#content {
 margin-right   : auto;
 margin-left    : auto;
 vertical-align : middle;
 width          : 100%;
 }

.hostButton {
 border         : 1px solid;
 border-radius  : 2px;
 height         : 20px;
 vertical-align : bottom;
 font-family    : inherit;
 color          : inherit;
 font-size      : inherit;
 }

input[type=checkbox], input[type=radio] {
 opacity  : 1;
 position : relative;
 margin   : auto;
 display  : inline-block;
 }

input[type=number] {
 border : 1px solid rgba(0, 0, 0, .4);
 }

input[type=text] {
 border : 1px solid rgba(0, 0, 0, .4);
 }

.hiddenElem {
 display : none;
 }

.float-left {
 float : left;
 }

.float-right {
 float : right;
 }

.title-bg {
 /*background: rgba(0, 0, 0, .2);*/
 background : linear-gradient(0, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0.1));
 width      : 100%;
 height     : 25px;
 /*display: inline-block;*/
 /*margin-bottom: 2px;*/
 }

.title-bg:hover {
 cursor     : pointer;
 background : linear-gradient(0, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0));
 }

.exp-title {
 /*background: rgba(0, 0, 0, .2);*/
 /*width: 300px;*/
 /*width: 80%;*/
 height  : 25px;
 display : inline-block;
 }

.exp-title label {
 display : /*inline-*/ block;
 margin  : 3px 0 0 5px;
 cursor  : pointer;
 }

.exp-title label:first-of-type {
 font-weight : bold;
 }

.exp-title:hover {
 cursor : pointer;
 }

.btn-export {
 display : inline-block;
 float   : right;
 /*width: 19%;*/
 /*margin: 1px auto;*/
 /*width: 99%;*/
 }

.line {
 margin      : 5px;
 align-items : center;
 border      : 1px dotted rgba(0, 0, 0, .4);
 }

.center {
 margin-top : 3px;
 }

#export_sets {
 border : 1px solid rgba(0, 0, 0, .4);
 }

#folderName input[type=text] {
 /*width  : 250px;
 height : 16px;*/
 height : 16px;
 }

#folderName {
 padding-left : 4px;
 }

.footer {
 margin-top    : 5px;
 /*margin-bottom : 5px;*/
 }